{% extends 'base.html.twig' %}

{% block title %}collector demo{% endblock %}

{% block body %}
    <div class="container-fluid container-xl mt-4">
        <div class="d-flex flex-row">
            <h1 class="">fire requests</h1>
        </div>
        <div class="d-flex flex-row">
                {{ form_start(form)}}
                {{ form_widget(form) }}
                <button class="btn btn-primary" formnovalidate>{{ button_label|default('go') }}</button>
                {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
